<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>How much gold is your house worth</title>
  </head>
  <body>
    <h1>Gold House</h1>
    <p>Enter your address and find out how much gold your house is worth</p>
    <label for="address">Address</label>
    <input id="address" value="2347 Thompson Court, Mountain View"/>
    <br/>
    <label for="postal_code">Postal Code</label>
    <input id="postal_code" value="94043"/>
    <br/>
    <button id="calculate">Calculate</button>
    <hr/>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>house thickness (ft)</th>
          <th>lot thickness (ft)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Gold</th>
          <td id="houseGold"></td>
          <td id="lotGold"></td>
        </tr>
      </tbody>
    </table>
    <script>
      window.onload = function() {
        var url = 'http://localhost:8000';

        serialize = function(obj) {
          var str = [];
          for(var p in obj)
            if (obj.hasOwnProperty(p)) {
              str.push(encodeURIComponent(p) + '=' + encodeURIComponent(obj[p]));
            }
          return str.join('&');
        };

        function status(response) {
          json = response.json();
          if (!response.ok) {
            return json.then(Promise.reject.bind(Promise));
          }
          return json;
        }

        function errorFn(response) {
          console.error('Something bad happened!');
          console.error(response);
        }

        /* API calls */
        function getHouse(params, successFn) {
          fetch(url + '/api/v1/zillow?' + serialize(params), {
            method: 'GET',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            },
          }).then(status).then(successFn).catch(errorFn);
        };

        function getGold(params, successFn) {
          fetch(url + '/api/v1/commodities' + serialize(params), {
            method: 'GET',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            },
          }).then(status).then(successFn).catch(errorFn);
        };

        document.getElementById("calculate").addEventListener("click", function() {
          var address = document.getElementById("address").value;
          var postal_code = document.getElementById("postal_code").value;
          params = {
            address: address,
            postal_code: postal_code,
          }

          var house_price_per_sqft;
          var lot_price_per_sqft;
          var gold_price_per_cubic_foot;
          getHouse(params, function(response) {
            house_price_per_sqft = response.price / response.house_sqft;
            lot_price_per_sqft = response.price / response.lot_sqft;
            getGold({}, function(response) {
              gold_price_per_cubic_foot = response.gold;
              document.getElementById("houseGold").innerHTML = house_price_per_sqft / gold_price_per_cubic_foot
              document.getElementById("lotGold").innerHTML = lot_price_per_sqft / gold_price_per_cubic_foot
            })
          })
        });
      }
    </script>
  </body>
</html>
